h3{
    font-size: 25px !important;
}
.btn-success:hover{
    background-color: blue;
}
canvas{
    animation-name: NOICE;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes NOICE{
    from{box-shadow: 1px 1px 38px blue;}
    to{box-shadow: 1px 1px 38px greenyellow;}
}